body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 320px;
    background-color: white;
}
.grid-item {
    background-color: rgb(253, 251, 251);
    border: 1px solid #0a0a0a;
    box-sizing: border-box;
}
h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}
button {
    background-color: #0a0a0a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 5%;
}
.button:hover {
    background-color: #333;
}